body
{
    background-image: linear-gradient(#26adb2,#26adb2,#26adb2, #63c795);
    box-sizing: border-box;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
    min-height: 100vh;
}
.clock
{
    width: 266px;
    height: 266px;
    background-image: url(clock12.png);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    box-shadow: 0px 0px 18px 10px #baf3ec;
    border-radius: 50%;
    border: 14px solid #60c596;
    top: 18vh;
}
.hands
{
    width: 4px;
    transform-origin: bottom;
    background: #60c596;
    border-radius: 25%;
    position: absolute;
}
.hourhand
{
    height: 59px;
    top: 74px;
    z-index: 3;
}
.minhand
{
    height: 88px;
    top: 46px;
    z-index: 2;
}
.sechand
{
    width: 2px;
    height: 86px;
    top: 48px;
    background: #66ffb8;
    z-index: 4;
}
.circle
{
    width: 12px;
    height: 12px;
    position: absolute;
    top: 127px;
    background: #66ffb8;
    border-radius: 50%;
    z-index: 4;
}
.digital
{
    justify-content: center;
    align-items: center;
    display: block;
    position: absolute;
    top: 73vh;
    font-size: 3em;
    background: #60c596;
    padding: 15px 39px;
    border-radius: 16px;
    color: white;
}
@media (min-width:552px) and (max-width:760px)
{
    .clock
    {
        top: 10vh;
        right: 23vw;
    }
    .digital
    {
        top: 40vh;
        left: 57vw;
        padding: 15px 17px;
        font-size: 2.7em;
    }
}
@media (max-width:310px)
{
    .digital
    {
        padding: 15px 17px;
    }
}